@model Empresa
@{
    ViewData["Title"] = "EMPRESA";
}
<h1>@ViewData["Title"]</h1>

<p>Formulário de cadastro de empresa.</p>

<br>

<form asp-controller="Empresa" asp-action="Cadastrar" method="post">
    <div class="campo">
        <label for="uf">UF:</label>
        <input type="text" asp-for="Uf" id="uf" name="uf" required>
    </div>

    <br>

    <div class="campo">
        <label for="nomefantasia">Nome Fantasia:</label>
        <input type="text" asp-for="NomeFantasia" id="nomefantasia" name="nomefantasia" required>
    </div>

    <br>

    <div class="campo">
        <label for="cnpj">CNPJ:</label>
        <input type="text" asp-for="Cnpj" id="cnpj" name="cnpj" required>
    </div>

    <br>

    <button type="submit">Cadastrar</button>
</form>